.text-decoration-none{
    text-decoration: none;
    color: white;
}

.tol{
    position: absolute !important;
    left: 175px !important;
    top: 12px;
    font-size: 18px !important;
}

.tol2{
    position: absolute !important;
    left: 275px !important;
    top: 12px;
    font-size: 18px !important;
}
